/* fade animation */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.w3-display-left, .w3-text-white, .zoom{
  animation: fadeIn 4s forwards;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Inter', sans-serif;
}
@media screen and (max-width: 767px) {p{font-size: 15px;}}
@media screen and (min-width: 577px) and (max-width: 1024px){p{font-size: 18px;}}
@media screen and (min-width: 1025px) {p{font-size: 20px;}}

@media screen and (max-width: 767px) {h1{font-size: 13px;}}
@media screen and (min-width: 768px) and (max-width: 1024px){h1{font-size:20px;}}
@media screen and (min-width: 1025px) {h1{font-size: 16px;}}

@media screen and (max-width: 767px) {h2{font-size: 20px;}}
@media screen and (min-width: 768px) and (max-width: 1024px){h2{font-size: 23px;}}
@media screen and (min-width: 1025px) {h2{font-size: 25px;}}

@media screen and (max-width: 767px) {h3{font-size: 30px;}}
@media screen and (min-width: 768px) and (max-width: 1024px){h3{font-size: 45px;}}
@media screen and (min-width: 1025px) {h3{font-size: 50px;}}

@media screen and (max-width: 767px) {h4{font-size: 8px;}}
@media screen and (min-width: 768px) and (max-width: 1024px){h4{font-size: 11px;}}
@media screen and (min-width: 1025px) {h4{font-size: 13px;}}

@media screen and (max-width: 767px) {h5{font-size: 35px;}}
@media screen and (min-width: 768px) and (max-width: 1024px){h5{font-size: 60px;}}
@media screen and (min-width: 1025px) {h5{font-size: 70px;}}

@media screen and (max-width: 767px) {h6{font-size: 25px;}}
@media screen and (min-width: 768px) and (max-width: 1024px){h6{font-size: 35px;}}
@media screen and (min-width: 1025px) {h6{font-size: 40px;}}

@media screen and (max-width: 767px) {.work-div{padding-left: 10px;}}
@media screen and (min-width: 768px) and (max-width: 1024px){.work-div{padding-left: 20px;}}
@media screen and (min-width: 1025px) {.work-div{padding-left:80px}}

/* body */
.html{overflow-x: hidden;}
p, h1, h2, h3, h6{color: white;}
body {
  margin: 0;
  background-color: black;
  /* background-color: #111111; */
  overflow-x: hidden;
}


/* text highlight color */
::-moz-selection{ 
  background: rgb(0, 0, 0);
  color: rgb(229, 212, 255)
}
::selection{
  background: rgb(0, 0, 0);
  color: rgb(229, 212, 255)
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-color: black;
  min-height: 100%;
}



.fade {
  height: 10%;
  width: 100%;
  top: 0;
  left: 0;
}

.zoom {
  width: 100%;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  height:100%;
}

.afterzoom {
  height: 100%;
  width: 100%;
  margin-top: 100vh;
  overflow-x: hidden;
  background-color: 111111;
  align-items: center;
}




.about-div{
  place-items: center;
  background-color: black;
}

/* about me page */
.textMe{
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.abt1, .abt2, .abt2-0,.abt2-1,.abt3, .abt4, .abt5, .abt6, .abt7, .abt8, .abt9{
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  text-align: center;

}

.abt1, .abt2, .abt4, .abt7{
  background-position: right center;
}

.abt2-0,.abt2-1, .abt8, .abt9{width:0;}

.abt1::before,.abt2-0::before,.abt2::before,.abt3::before,.abt4::before,.abt5::before,.abt6::before,.abt7::before,.abt8::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s;
}

#text1,#text2-0,#text2,#text3,#text4,#text5,#text6,#text7,#text8 {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: opacity 0.3s;
  z-index: 1000;
  margin-top: 0;
}

/* .flowerImage{
  padding-top: 50px;
  position: relative;
  z-index: 1;

} */

/* contact page */
.contact-video2{
  position: relative;
  z-index: 1;
}
.contactButtons{
  position: relative;
  z-index: 2;
}

.w3-button{
  background-image: url('images/buttonBackground.png');
  border-radius: 20px;
  text-align: left;
}

/* project video */
.project-video {
  width: calc(70vw);
  height: calc(45vh);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  position: absolute;
  top: 2.5vh;
  left: 50%;
  transform: translateX(-50%); 
}

.project-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(50%) contrast(100%) saturate(100%);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bolder;
}

.skills {
  width: calc(70vw);
  height: calc(5vh);
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40.5vh;
  margin-left: 10px;
}


.skillList {
  border-radius: 20px;
  background: rgb(37, 37, 37);
  font: Raleway;
  display:inline-block;
  color: #827f7f;
  text-align: left;
  margin-right: 5px;
  padding: 2px 0;
}
.skillList:hover{
  background: #353535;
}




/* mobile */
@media (max-width: 767px) {
  .zoom {
    background: url("images/mobileBackground.png") no-repeat;
    background-size: cover;
  }
  .nameDivPadding1{
    @media (max-height: 844px) {height: 18vh;}
    @media (min-height: 845px) {height: 25vh;}
  }
  
  .nameDivPadding2{
    @media (max-height: 844px) {height: 50vh;}
    @media (min-height: 845px) {
      height: 40vh;
      padding:20px;
    }
    text-align: center;
  }
  
  .nameDivPadding3{
    height: 20vh;
  }
  
  .nameDivPadding4{
    height: 10vh;
  }

  .experiences{
    margin-left: -3%;
  }
  .projectType{
    font-size: 13px;

  }
  .afterzoom{
    padding-top: 5vh;
  }
  .icons a {
    font-size: 15px;
  }

  .project-div{
    padding:128px 3px;
  }
  /* .item{
    min-width: 33vw;
  }
  .blank{
    min-width:33vw;
  } */
  .dot{
    width: 7px;
    height: 7px;
  }
  .aboutContainer{height:66vh;}
  .aboutMe{height:18vh;}
  .aboutMe2{height:40vh;}
}



/* desktop & ipad */
@media (min-width: 768px) {
  .zoom {
    background: url("images/desktopBackground.png") no-repeat;
    background-size:cover;
  }
  .projectType{
    font-size: 17px;
  }
  .project-div{
    padding:128px 30px;
  }
  .dot{
    width: 10px;
    height: 10px;
  }

  .item{
    opacity: 0.5;
  }
  .highlighted {
    flex: 0 0 20%; /* Increase size of the highlighted item */
    opacity: 1;
  }

  .logo{
    height:60%;
    width:60%;
    margin-right: 0;
  }

  .textMe{
    padding: 7vh 3vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2vw;
    
  }  
}

/* mobile and ipad */
@media (max-width: 1024px) {
  .skillList{
    padding-left: 7px;
    padding-right: 7px;
  }
  .abt1{width:25vw;background-image: url('about/glasses.png');}
  .abt2{width:30vw;background-image: url('about/gallery.png');}
  .abt2-1{width:45vw;background-image: url('about/tesla.png');}
  .abt3{width:0vw;}
  .textMe{width:100vw;padding-left:10vw;padding-right:10vw;}
  .abt4{width:0vw;}
  .abt5{
    width:25vw;
    background-image: url('about/award.png');
    background-position: center bottom;
    background-size: cover;
  }
  .abt6{width:25vw;background-image: url('about/bungee.png');}
  .abt7{
    width:25vw;
    background-image: url('about/hackathonMobile.png');
    background-position: center top;
  }
  .abt8{
    width:25vw;
    background-image: url('about/sponsorship.png');
    background-position: right bottom;
  }
  .abt1,.abt2,.abt3,.abt4,.abt5,.abt6,.abt7{border-radius: 0;}
  .contact-div{padding-top:15px;}


}


/* only desktop */
@media(min-width: 1025px){
  .skillList{
    padding-left: 15px;
    padding-right: 15px;
  }

  .rowTwo{
    padding-top:20px
  }

  .projectsBox:hover, .projectsBox1:hover{
    cursor: pointer;
  }
  
  .nameDivPadding1{
    height: 35vh;
    padding:48px;
  }
  .nameDivPadding2{
    height: 35vh;
    text-align: left;
    padding-left: 75px;
  }
  .nameDivPadding3{
    height: 20vh;
  }
  .nameDivPadding4{
    height: 10vh;
  }
  .icons a {
    font-size: 25px;
  }

  .aboutMe{height:30vh;}
  .aboutMe2{height:33vh;}
  
  .abt1{
    width:36vw;
    background-image: url('about/speaking.png');
  }
  .abt2-0{
    width:20vw;
    background-image: url('about/canoe.png');
    background-position: center center;

  }
  .abt2{width:40vw;background-image: url('about/gallery.png');}
  .abt3{
    width:22vw;
    background-image: url('about/hackathon.png');
    background-position: center center;
  }
  .textMe{
    width:45vw;
    padding-left: 0;
  }
  .abt4{
    width:29vw;
    background-image: url('about/award.png');
    background-position: center center;

  }
  .abt5{width:25vw;background-image: url('about/bungee.png');}
  .abt6{
    width:15vw;
    background-image: url('about/glasses.png');
    background-position: center center;
    background-size: cover;
  }
  .abt7{
    width:25vw;
    background-image: url('about/sponsorship.png');
  }
  .abt8{
    width:30vw;
    background-image: url('about/tesla.png');
    background-position: left center;

  }
  .abt1,.abt2-0,.abt2, .abt3, .abt4, .abt5, .abt6, .abt7, .abt8{
    margin:1vw;
    border-radius: 5px;
  }

  .abt2-0,.abt2,.abt6,.abt7,.abt8{margin-left: 0;}

  /* text on hover */
  .abt1:hover::before,.abt2-0:hover::before,.abt2:hover::before,.abt3:hover::before,.abt5:hover::before,.abt6:hover::before,.abt7:hover::before,.abt8:hover::before {
    opacity: 0.2; 
  }
  
  .abt1:hover #text1,.abt2-0:hover #text2-0,.abt2:hover #text2,.abt3:hover #text3,.abt4:hover #text4,.abt5:hover #text5,.abt6:hover #text6,.abt7:hover #text7,.abt8:hover #text8{
    opacity: 1;
    background: rgba(0, 0, 0, 0.398);
    margin-top: 0;
  }
  .contact-div{padding-top:100px;}

}



/* tablet only */
@media(min-width: 768px) and (max-width:1024px){
  .nameDivPadding1{
    height: 35vh;
  }
  .nameDivPadding2{
    height: 45vh;
    text-align: left;
    padding-left: 75px;
  }
  .nameDivPadding3{
    height: 20vh;
  }
  .nameDivPadding4{
    height: 10vh;
  }
  .experienceTile{
    padding:16px
  }
  .icons a {
    font-size: 20px;
  }
  .aboutMe{height:26vh;}
  .aboutMe2{height:46vh;}
  .aboutContainer{height:100vh;}
}