/* fade animation */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body,h1,h2,h3,h4,h5,h6,p {font-family: "Raleway", sans-serif}

@media screen and (max-width: 576px) {p{font-size: 15px;}}
@media screen and (min-width: 577px) and (max-width: 768px){p{font-size: 20px;}}
@media screen and (min-width: 769px) {p{font-size: 20px;}}

@media screen and (max-width: 576px) {h1{font-size: 13px;}}
@media screen and (min-width: 577px) and (max-width: 768px){h1{font-size: 15px;}}
@media screen and (min-width: 769px) {h1{font-size: 16px;}}

@media screen and (max-width: 576px) {h2{font-size: 20px;}}
@media screen and (min-width: 577px) and (max-width: 768px){h2{font-size: 23px;}}
@media screen and (min-width: 769px) {h2{font-size: 25px;}}

@media screen and (max-width: 576px) {h3{font-size: 40px;}}
@media screen and (min-width: 577px) and (max-width: 768px){h3{font-size: 45px;}}
@media screen and (min-width: 769px) {h3{font-size: 50px;}}

@media screen and (max-width: 576px) {h4{font-size: 8px;}}
@media screen and (min-width: 577px) and (max-width: 768px){h4{font-size: 11px;}}
@media screen and (min-width: 769px) {h4{font-size: 13px;}}

@media screen and (max-width: 576px) {h5{font-size: 35px;}}
@media screen and (min-width: 577px) and (max-width: 768px){h5{font-size: 60px;}}
@media screen and (min-width: 769px) {h5{font-size: 70px;}}

@media screen and (max-width: 576px) {.work-div{padding-left: 10px;}}
@media screen and (min-width: 577px) and (max-width: 768px){.work-div{padding-left: 20px;}}
@media screen and (min-width: 769px) {.work-div{padding-left:80px}}


.html{
  overflow-x: hidden;
}

p, h1, h2, h3{
  color: white;
}

body {
  margin: 0;
  background-color: black;
  overflow-x: hidden;
}

img {
  width: 1600px;
  margin-left: 50%;
  height: 1500px;
  filter: saturate(1.5);
  background-color: black;
}

@media only screen and (max-width: 800px) {
  .img {
    margin-left: 30%;
  }
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-color: black;
  min-height: 100%;}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-display-left, .w3-text-white, .zoom{
  animation: fadeIn 4s forwards;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}

.fade {
  height: 10%;
  width: 100%;
  top: 0;
  left: 0;
}

.zoom {
  width: 100%;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  height:100vh
}

.afterzoom {
  height: 100%;
  width: 100%;
  margin-top: 100vh;
  overflow-x: hidden;
  background-color: black;
  align-items: center;
}

.m6{
  overflow-x: hidden;
  place-items: center;
}   

.about-div{
  place-items: center;
  background-color: black;
}

.w3-button{
  background-image: url('buttonBackground.png');
  border-radius: 8px;
}

.aboutMe{
  text-align: center;
}

.aboutButton{
  position: relative;
  z-index: 2;
}

.contact-video2{
  position: relative;
  z-index: 1;
}
.contactButtons{
  position: relative;
  z-index: 2;
}

.flowerImage{
  padding-top: 50px;
  position: relative;
  z-index: 1;

}
.projectsBox{
  height:100%;
}

.video-poster-overlay {
  position: absolute;
  background: url("resuview.png") no-repeat;
  background-size: cover;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.skillList {
  border-radius: 25px;
  background: rgb(59, 59, 59);
  font: Raleway;
  display:inline-block;
  color: #827f7f;
  font-weight:bolder;
  
}

.nameDiv{
  transform: translateX(-50%) translateY(-50%);
}

.arrow{
  margin-top: -5%;
}

/* mobile */
@media (max-width: 767px) {
  .zoom {
    background: url("mobileBackground.png") no-repeat;
    background-size: cover;
  }
  .nameDivPadding1{
    height: 25vh;
  }
  
  .nameDivPadding2{
    height: 40vh;
    text-align: center;
  }
  
  .nameDivPadding3{
    height: 20vh;
  }
  
  .nameDivPadding4{
    height: 10vh;
  }
  
  .experiences{
    margin-left: -3%;
  }
  .projectType{
    font-size: 13px;

  }
    .afterzoom{
    padding-top: 5vh;
  }

}

/* desktop & ipad */
@media (min-width: 768px) {
  .zoom {
    background: url("desktopBackground.png") no-repeat;
    background-size: cover;
  }
  .afterzoom{
    padding-top: 20vh;
  }
        

}

/* mobile and ipad */
@media (max-width: 991px) {
  .skillList{
    padding-left: 7px;
    padding-right: 7px;
  }
}

/* only desktop */
@media(min-width: 992px){
  .skillList{
    padding-left: 15px;
    padding-right: 15px;
  }

  .projectsBox:hover{
    background-color: #615c5c16;
  }
  .skillList:hover{
    background: rgb(44, 44, 45);
  }
  .nameDivPadding1{
    height: 35vh;
  }
  .nameDivPadding2{
    height: 35vh;
    text-align: left;
    padding-left: 75px;
  }
  .nameDivPadding3{
    height: 20vh;
  }
  .nameDivPadding4{
    height: 10vh;
  }
}

/* only ipad */
@media(min-width: 768px) and (max-width:991px){
  .nameDivPadding1{
    height: 25vh;
  }
  .nameDivPadding2{
    height: 45vh;
    text-align: left;
    padding-left: 75px;
  }
  .nameDivPadding3{
    height: 20vh;
  }
  .nameDivPadding4{
    height: 10vh;
  }
    .experienceTile{
        padding:16px
  }

}
